extends layout

block content
  link(rel='stylesheet', href='/stylesheets/draw.css')
  script(type='text/javascript').
   var localData = !{JSON.stringify(userid)}
   console.log(localData);

  div(id='layout')
    div(id='menu')
        div(class='pure-menu pure-menu-open')
            a(class='pure-menu-heading', href='#') Tools
            ul
                li: a(id='triangle', href="#") Triangle
                li: a(id='circle', href="#") Circle
                li: a(id='select', href='#') Select
                li: a(id='join', href='#') Join
                li: a(id='subtract', href='#') Subtract
                li: a(id='divide', href='#') Divide
                li: a(id='export', href='#') Export
                li(id='save')
                  form(action = "/users/" + user.id + "/shapes", method = "post")
                    input(type="hidden", id="info", name='info')
                    input(type="submit", value="save")
                li: a(id='library') Library
                    input(type="hidden", value="library")
    div(id='main')
      div(class='content')
        canvas(id='myCanvas', resize="true")
      div(id='library-container')
        div(class="pure-menu pure-menu-open")
          a(class="pure-menu-heading", href='#') Shape Library
          ul(id='library-list')




  script(src="http://cdnjs.cloudflare.com/ajax/libs/paper.js/0.9.12/paper.js")

  script(type="text/paperscript", src="/javascripts/paperscript.js", canvas="myCanvas")
