extends layout

block content
  link(rel='stylesheet', href='/stylesheets/draw.css')


  div(id='layout')
    div(id='menu')
        div(class="list-group")
          a(id='selectTool', class="list-group-item active schapd-tool")
            img(src='images/tools/select.png', height="20px", width="20px")
          a(id='triangleTool', class="list-group-item schapd-tool")
            img(src='images/tools/triangle-icon.png', height="20px", width="20px")
          a(id='circleTool', class="list-group-item schapd-tool") 
            img(src='images/tools/circle-icon.png', height="20px", width="20px")
          a(id='join', class="list-group-item schapd-manipulate") 
            img(src='images/tools/join-icon.png', height="20px", width="20px")
          a(id='subtract', class="list-group-item schapd-manipulate")
            img(src='images/tools/subtract-icon.png', height="20px", width="20px")
          a(id='divide', class="list-group-item schapd-manipulate")
            img(src='images/tools/divide-icon.png', height="20px", width="20px")
          a(id='export', class="list-group-item schapd-export")
            img(src='images/tools/export-icon.png', height="20px", width="20px")
          a(id='library', class="list-group-item schapd-export")
            img(src='images/tools/library-icon.png', height="20px", width="20px")

 

      canvas(id='schapdcanvas', resize="true")
      

  script(src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.9.21/paper-full.js")

  
  script(type="text/paperscript", src="/javascripts/shape.js", canvas="schapdcanvas")

  script(src="/javascripts/tutorial.js")
