extends layout 

block content

div(class="footer l-box is-center")
    div(class='pure-menu pure-menu-horizontal pure-menu-open footer-links')
      ul
        li: a(href="/about") About
        li: a(href="https://github.com/kshiga/schapd") Git
        li: a(href="/privacy") Privacy
        li: a(href="/feedback") Feedback