extends layout 

block content
  script(src='javascripts/home.js')
  div(class="header alt vert" id="header-container")
    div(class="container")
      img(src="/images/schapd-logo.png", height="200", width="636")
      h3 crativity for all.
      a(href="/drawtry", class="btn btn-default btn-lg") try schāpd
  div(id="sec1", class="blurb")
    div(class="container")
      div(class="row")
        div(class="col-md-12")
          h2 ● What is Schāpd? ●
        div(class="col-md-6")
          div(class="col-sm-6")
            h3 ▴ The Motivation.
            p.
              For every art class that ever said you weren't creative 
              because you couldn't draw a perfect circle or whatever, 
              Schāpd is here. Schāpd aims to help everyone explore their
              creativity, because everyone is creative.
          div(class="col-sm-6"): img(src='images/creativity.png', width="150px", height='180px', class='photo')
        div(class="col-md-6")
          div(class="col-sm-6")
            h3 ▴ The Concept.
            p.
              In Schāpd, all illustration is shape based. (Hence "schāpd")
              Using only two basic shapes and a few different methods 
              for combining them, Schāpd looks to redesign your outlook
              on illustration.  Line art is a thing of the past.
          div(class="col-sm-6"): img(src='images/shapes.png', width="300px", height='200px', class='photo')
  div(id="sec2", class="blurb bright")
    div(class="container")
      div(class="row")
        div(class="col-md-12")
          h2 The Project
        div(class="col-xs-3"): img(src='images/logo.png')
        div(class="col-xs-9")
          p.
            Schāpd is a CMSI402 Senior Project completed by Kaitlyn Higa
            during the Spring 2014 semester. 
          p.
            You can fork the project on github and learn more about it here or on the wiki.
 
  
  footer
    div(class="container")
      div(class="row")
        div(class="col-md-6 col-md-offset-3 text-center")
          p.
            Kaitlyn Higa 
            2014 - 2015
          hr
          ul(class="list-inline")
            li: a(href="/about"): i(class="fa fa-info-circle fa-3x")
            li: a(href="https://github.com/kshiga/schapd"): i(class="fa fa-github fa-3x")
  ul(class="nav pull-right scroll-down")
    li: a(href="#", title="Scroll to top") ▲