extends layout 

block content
  link(rel='stylesheet', href='/stylesheets/home.css')


  div(class="splash-container")
      div(class="splash")
          h1(class="splash-head") Schāpd
          p(class="splash-subhead") Creativity for all.
          p: a(href="/login", class="pure-button pure-button-primary") Get Started
          
  div(class="content-wrapper")
      div(class="content")
          h2(class="content-head is-center") What is Schāpd?

          div(class="pure-g")
              div(class="l-box  pure-u-1-4")

                  h3(class="content-subhead") The Motivation.
                  p. 
                    For every art class that ever said you weren't creative 
                    because you couldn't draw a perfect circle or whatever, 
                    Schāpd is here. Schāpd aims to help everyone explore their
                    creativity, because everyone is creative.
              div(class="l-box pure-u-1-4")

              div(class="l-box  pure-u-1-4")
                  h3(class="content-subhead") The Concept.
                  p.
                    In Schāpd, all illustration is shape based. (Hence "schāpd")
                    Using only two basic shapes and a few different methods 
                    for combining them, Schāpd looks to redesign your outlook
                    on illustration.  Line art is a thing of the past.  

      div(class="ribbon l-box-lrg pure-g")
          div(class="l-box-lrg is-center pure-u-1-5 ")
              p something
          div(class="pure-u-1 pure-u-3-5")

              h2(class="content-head content-head-ribbon") The Project.

              p.
                Schāpd is a CMSI402 Senior Project completed by Kaitlyn Higa
                during the Spring 2014 semester. 
              p.
                You can fork the project on github and learn more about it here or on the wiki.

      div(class="content")
          h2(class="content-head is-center") Cool, tell me more.

          div(class="pure-g")
              div(class="l-box-lrg pure-u-1-4")
                  form(class="pure-form pure-form-stacked")
                    p Sign up for email updates!
                      fieldset

                          label(for="email") Your Name
                          input(id="email", type="text", placeholder="Your Name")


                          label(for="email") Your Email
                          input(id="email", type="email", placeholder="Your Email")

                          label(for="password") Your Password
                          nput(id="password", type="password", placeholder="Your Password")

                          button(type="submit", class="pure-button") Sign Up

              div(class="l-box-lrg pure-u-2-5")
                  h4 Contact Us
                  p Now why would you want to do that?


                  h4 More Information
                  p Yes, that would be nice
                      

      div(class="footer l-box is-center")
          p
            a(href="#") About
            &nbsp;
            a(href="#") Git
            &nbsp;
            a(href="#") Privacy
            &nbsp;
            a(href="#") Feedback


  script(src="http://yui.yahooapis.com/3.14.1/build/yui/yui.js")
  script(type='text/javascript').
    YUI().use('node-base', 'node-event-delegate', function (Y) {
      Y.one('body').delegate('click', function (e) {
          e.preventDefault();
      }, 'a[href="#"]');
    });

