extends layout

block content
  div(id='layout')
    a(href='#menu', id='menuLink', class='menu-link')
       span
    div(id='menu')
        div(class='pure-menu pure-menu-open')
            a(class='pure-menu-heading', href='#') Tools
            ul
                li: a(id='triangle', href="#") Triangle
                li: a(href="#") Link 2
                li: a(href='#') Link 3
                li: a(href='#') Link 4
    div(id='main')
        div(id='schapd-header', class='header')
            div(class='pure-g')
                div(class='pure-u-4-5')
                    h1 Schapd Logo
                div(class='pure-u-1-5')
                    h2 account graphic
        div(class='content')
            canvas(id='canvas')
  script(src='/javascripts/shape-draw.js')
  script(src='/javascripts/ui.js')
