extends layout 

block content
  link(rel='stylesheet', href='/stylesheets/header.css')
  script(src='/javascripts/inup.js') 



  div(class="content center-area is-center")
    div(class="block")
        div(id="signup")
            h1 Sign up!
            form(action='/users/create', method="POST" class="pure-form pure-form-stacked")
              fieldset(clas="pure-group")
                input(type="text", name="username", class="pure-input-1", placeholder="username")
                input(type="password", name="password", class="pure-input-1", placeholder="Password")
              button(type="submit", class="pure-button pure-input-1 pure-button-primary") Sign up

        a(href='/auth/facebook') sign in with facebook

             

        div(id="signin")
            h1 Sign in!
            form(action='/users/signin', method="POST" class="pure-form pure-form-stacked")
              fieldset(clas="pure-group")
                input(type="text", name="username", class="pure-input-1", placeholder="Username")
                input(type="password", name="password", class="pure-input-1", placeholder="Password")
              button(type="submit", class="pure-button pure-input-1 pure-button-primary") Sign in
