extends layout 

block content
  link(rel='stylesheet', href='/stylesheets/header.css')

  div(class='header')
      div(class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed")
          a(class="pure-menu-heading", href="") Schapd
          ul
              li(class="pure-menu-selected"): a(href="/") Home
              li: a(href="#") About
              li: a(href="#") Sign in 
              li: a(href="#") Draw
