body
  background: #F38630
  overflow-y:hidden

h1
  text-transform: uppercase
  letter-spacing: 0.19em
  font-size: 48px
  font-weight: lighter

.content-container
  position: absolute
  background: #E0E4CC
  position: absolute
  top: 13%
  width:100%
  height: 72%
  margin-top: 0px
  box-shadow: 0px 0px 25px 20px rgba(124,128,104,0.2);


.logo
  position: absolute
  top:5px
  left:0px
  width: 100%
  line-height:60px
  background: rgba(236,229,206, 0.9)
  overflow: hidden
  padding-left: 2em

.logo img
  height: 50
  width: 50
  padding-top: 2.2em



.footer 
  background: #C5E0DC
  position: absolute
  top: 90%
  text-align: center
  width: 100%
  bottom:0

.footer-links
  padding: 0.2em
  text-align: center
  z-index: 6
  bottom: 0
  background: none !important
  border: none !important
  text-transform:uppercase
  letter-spacing: 0.16em !important


.footer-links li a:hover,
.footer-links li a:focus 
  border: none
  background: rgba(255,255,255,0.17)
  radius: 5px