

#Schāpd-basics
  background:#829694

#Schāpd-goals
  background: #D4E8C1

#Schāpd-influences
  background: #DACCB3

#Schāpd-itself
  background: #E79498

#Schāpd-Challenges
  background: #559589

#Schāpd-Follow
  background: #EFBA6B

#Schāpd-Questions
  background: #ED9050


