body
  overflow-x:hidden
#main
    overflow-x: hidden

#shapes
	background-color: blue

#menu 
  width: 40px
  position: absolute
  top: 47px
  left: 0
  bottom: 0
  z-index: 2
  background: #fff
  overflow-y: auto
  border: none
  height:83%

/*
All anchors inside the menu should be styled like this.
*/
#menu a 
#library-container a 
  border: none
  padding: 0.6em 0.6em 0.6em 0.6em



/*
Remove all background/borders, since we are applying them to #menu.
*/
#menu .pure-menu
#menu .pure-menu ul 
#library-container .pure-menu
#library-container .pure-menu ul 
  border: none
  background: transparent



/*
Add that light border to separate items into groups.
*/
#menu .pure-menu ul
#menu .pure-menu .menu-item-divided 
#library-container .pure-menu ul
#library-container .pure-menu .menu-item-divided     
  padding-top: 3px  

/*
Change color of the anchor links on hover/focus.
*/
#menu .pure-menu li a:hover
#menu .pure-menu li a:focus 
  background: rgba(0, 0, 0, 0.02)
  cusor: pointer


/*
This styles the selected menu item `<li>`.
*/
#menu .pure-menu-selected
#menu .pure-menu-heading 
#library-container .pure-menu-selected
#library-container .pure-menu-heading 
  background: #C8C8A9
  font-size: 12px

    
/*
This styles a link within a selected menu item `<li>`.
*/
#menu .pure-menu-selected a 
#library-container .pure-menu-selected a     
  color: #fff
  border: none
        

/*
This styles the menu heading.
*/
#menu .pure-menu-heading 
#library-container .pure-menu-heading 
  color: #fff
  margin: 0
  border: none

#library-container
  width: 210px
  position: absolute
  top: 40px
  right: 0
  bottom: 0
  z-index: 5
  border: 1px
  overflow-y: auto
  overflow-x: hidden
  height:83.25%


#myCanvas
  width: 100%
  z-index: 1


#save-btn
  border: none !important
  background:url('../images/tools/save-icon.png')
  width: 40px
  background-size:20px 20px
  background-repeat: no-repeat
  background-position: center center
 

#library-btn
  border: none !important
  background:url('../images/tools/library-icon.png')
  width: 40px
  background-size:20px 20px
  background-repeat: no-repeat
  background-position: center center

.library-canvas
  box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.1)



  



.footer 
  background: #C5E0DC
  position:absolute
  top: 90%
  text-align: center
  width: 100%

.footer-links
  padding: 0.2em
  text-align: center
  z-index: 10
  bottom: 0
  background: none !important
  border: none !important
  text-transform:uppercase
  letter-spacing: 0.16em !important


.footer-links li a:hover,
.footer-links li a:focus 
  border: none
  background: rgba(255,255,255,0.17)
  radius: 5px

