body 
  line-height: 1.7em
  color: #7f8c8d
  font-size: 13px


h1,
h2,
h3,
h4,
h5,
h6,
label 
  color: #34495e


.pure-img-responsive 
  max-width: 100%
  height: auto


.l-box 
  padding: 1em


.l-box-lrg 
  padding: 2em
  border-bottom: 1px solid rgba(0,0,0,0.1)


.is-center 
  text-align: center


.pure-button 
  background-color: #1f8dd6
  color: white
  padding: 0.5em 2em
  border-radius: 5px


a.pure-button-primary 
  background: white
  color: #1f8dd6
  border-radius: 5px
  font-size: 120%




.home-menu 
  padding: 0.5em
  text-align: center
  box-shadow: 0 1px 1px rgba(0,0,0, 0.10)
  margin-bottom: 10em

.home-menu.pure-menu-open 
  background: #2d3e50

.pure-menu.pure-menu-open.pure-menu-fixed 
  border-bottom: none

  z-index: 4


.home-menu .pure-menu-heading 
  color: white
  font-weight: 400
  font-size: 120%


.home-menu .pure-menu-selected a 
  color: white


.home-menu a 
  color: #6FBEF3

.home-menu li a:hover,
.home-menu li a:focus 
  background: none
  border: none
  color: #AECFE5

.center-area
  padding: 4em

.block
  position: absolute
  left: 35%
  top: 25%
  padding: 1em
  border-style: solid
  border-radius: 10px
  border-width: 5px
  border-color: #34495e


@media (min-width: 48em) 

    
    body 
        font-size: 16px



    /* We can align the menu header to the left, but float the
    menu items to the right. */
    .home-menu 
        text-align: left

        .home-menu ul 
            float: right